::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
    height: 0px; /* Alto de la barra de desplazamiento */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
	font-size: 62.5%;
    min-height: 100vh;
}

body{
    display: flex;
    width: 100vw;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(183deg, rgb(88,219,228),rgb(0,94,181));
    background-repeat: no-repeat; /* Evita la repetición del gradiente */
    background-size: cover; /* Cubre todo el fondo */
    background-position: center; /* Centra el gradiente */
}

header{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.header_button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1rem;
    cursor: pointer;
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
    color: black;

}
.header_button h1{
    padding-left: 2rem;
}

.header img{
    width: 5rem;
    height: 5rem;
}

main{
    height: 85%;
    width: 100%;
    display: flex;
}

.main_part{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main_part__boxes{
    position: relative;
    display: flex;
    width: 100%;
    height: 35%;
    justify-content: space-evenly;
    align-items: center;
    /* Uso de Patrón Responsive Mostly Fluid */
    flex-wrap: wrap;
}



.main_part__boxes article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 30%;
    min-height: 100%;
    max-height: 25rem;
    height: auto;
    max-height: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.main_part__boxes h2{
    color: #190404;
    align-self: center;
    padding-left: 1rem;
    padding-top: 1.2rem;
    max-height: 100%;
}

.main_part__boxes h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    position: relative;
    top: 0.5rem;
    background-color: rgb(255, 168, 46);
    
}

.main_part__boxes p{
    color: rgb(0, 0, 0);
    padding-left: 1rem;
    padding: 1.3rem;
    font-size: 1.5rem;
    max-height: 100%;
}

.main_part__animation{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

}
.main_part__animation_world{
    width: 50rem;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_part__animation_person{
    width: 14.4375rem;
    height: 17rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1rem;
    background: url(../assets/vectorizado.svg);
    background-size: cover;
    animation: movePerson 1s steps(8) infinite;
    z-index: 2;

}


@keyframes movePerson {
    0% {
        background-position: 0rem;
    }
    100% {
        background-position: -114.5rem;
    }
}

.main_part__animation_world_img{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4rem;  
    z-index: 1;

}

.main_part__animation article{
    display: flex;
    width: 30%;
    height: 20%;
    padding-left: 3rem;
    padding-right: 3rem;
    filter: drop-shadow(0 0 0.65rem rgba(2, 41, 118, 0.534));
    justify-content: center;
    

}

.main_part__animation article img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    transition: filter 0.3s; /* Agregamos una transición para suavizar el cambio */
}



.main_part__animation article img:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem rgba(253, 255, 209));
    
}

footer{
    width: 80%;
    height: 5%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: antiquewhite;
    text-align: center;
    text-size-adjust: 70%;
}

/* La Animación de rotación se va a cargar bien cuando la imagen que rote quepa en el div*/

.main_part__animation_world_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.3s; /* Agregamos una transición para suavizar el cambio */
    transform-origin: center; /* Centramos el punto de rotación */
    animation-fill-mode: forwards; /* Mantiene el último estado de la animación */

}

.main_part__animation_world_img:hover{
    animation-name: rotateAnimation;
    animation-duration: 10s; /* Duración de la animación */
    animation-iteration-count: infinite; /* Repetir infinitamente */
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); /* Función de temporización lineal */
    animation-fill-mode: forwards; /* Mantiene el último estado de la animación */
}



@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg); /* Estado inicial */
    }
    100% {
        transform: rotate(360deg); /* Estado final */
    }
}

@media (max-width: 880px){
    body{
        overflow: auto;
    }
    header{
        width: 100%;
    }
    main{
        justify-content: center;
    }

    .main_part{
        padding: 1rem; /* Agrega un espacio alrededor del contenido */
        flex-direction:  column-reverse;
        gap: 1rem; /* Espacio entre los elementos */
        
    }

    .main_part__boxes{
        min-width: 80%;
        height: 70%;
        gap: 2rem; /* Espacio entre los elementos */
        flex-wrap: wrap;
    }

    .main_part__boxes article{
        width: 90%;
        border-radius: 1.5rem;
        max-height: 100%;
    }

    .main_part__boxes h2{
        font-size: 3.5rem;
        padding: 1rem;
    }

    .main_part__boxes p{
        max-height: 100%;
        padding: 3rem;
        font-size: 2rem;
        text-align: justify;
    }

    .main_part__animation_world_img{
        width: 90%;
        height: 50%;
    }

    .main_part__animation_world article{
        width: 90%;
        height: 30%;
    }
    
    .main_part__animation article img{
        width: 6rem;
        height: 6rem;
    }

    footer{
        font-size: 1.5rem;
    }
}


@media (max-width: 768px){

    body{
        overflow: auto;
    }
    header{
        width: 100%;
    }
    main{
        justify-content: center;
    }

    .main_part{
        padding: 1rem; /* Agrega un espacio alrededor del contenido */
        flex-direction:  column-reverse;
        gap: 1rem; /* Espacio entre los elementos */
        
    }

    .main_part__boxes{
        min-width: 80%;
        height: 50%;
        gap: 1rem; /* Espacio entre los elementos */
        flex-wrap: wrap;
    }

    .main_part__boxes article{
        width: 90%;
        height: auto;
        max-height: 100%;
    }

    .main_part__animation_world_img{
        width: 90%;
        height: 50%;
    }

    .main_part__animation_world article{
        width: 90%;
        height: 30%;
    }
    
    .main_part__animation article img{
        width: 6rem;
        height: 6rem;
    }

    .main_part__boxes h2{
        font-size: 2.5rem;
        padding: 1rem;
    }

    .main_part__boxes p{
        padding: 2.5rem;
        font-size: 1.8rem;
        text-align: justify;
        max-height: 100%;
    }
    
    footer{
        font-size: 1.2rem;
        width: 80%;
        height: 5%;
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-top: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 2rem;
        color: antiquewhite;
    }
    
}

